<a href="https://colab.research.google.com/github/niteen11/lagcc_data_analytics_micro_credential/blob/master/Unit%202%20-%20Python%20Fundamentals/Assignments/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [3]:
the_list=list(range(5))
the_list

[0, 1, 2, 3, 4]

## 2.	Print out those variables by using a for loop

In [4]:
for item in the_list:
  print(item)

0
1
2
3
4

## 3.	Modify your for loop to add a message to your for loop.

In [5]:
#adding message to for loop
for i in range(5):
  print('element at index ', i, ' is ', the_list[i])

element at index  0  is  0
element at index  1  is  1
element at index  2  is  2
element at index  3  is  3
element at index  4  is  4

## 4.	Use a for loop to print even numbers from 1-20.

In [6]:
#using a for loop to print even numbers from 1-20
for num in range(1,21):
  if num%2==0:
    print(num)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [7]:
# 5.	Sort your list in alphabetic order.
the_list_word=['Hello','Banana','School','Snow','milk']
the_list_word.sort()
the_list_word

['Banana', 'Hello', 'School', 'Snow', 'milk']

## 6.	Print out the first three elements of your list.

In [8]:
# 6.	Print out the first three elements of your list.
the_list_word[:3]

['Banana', 'Hello', 'School']

## 7.	Create a loop to print the last 2 elements of your list.

In [9]:
# 7.	Create a loop to print the last 2 elements of your list.
for item in the_list_word[-2:]:
  print(item)

Snow
milk